<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CircleControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CircleControl.Properties.Settings>
            <setting name="sector8" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sector9" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="shortCut2" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="shortCut3" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="shortCut4" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="shortCut5" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="shortCut6" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="shortCut7" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="sector0" serializeAs="String">
                <value>划词翻译</value>
            </setting>
            <setting name="sector1" serializeAs="String">
                <value>窗口置顶</value>
            </setting>
            <setting name="sector2" serializeAs="String">
                <value>任务管理器</value>
            </setting>
            <setting name="sector3" serializeAs="String">
                <value>一键休眠</value>
            </setting>
            <setting name="sector4" serializeAs="String">
                <value>浏览器搜索</value>
            </setting>
            <setting name="sector5" serializeAs="String">
                <value>文件夹打开</value>
            </setting>
            <setting name="sector6" serializeAs="String">
                <value>计算器</value>
            </setting>
            <setting name="sector7" serializeAs="String">
                <value>shortCut1</value>
            </setting>
        </CircleControl.Properties.Settings>
    </userSettings>
</configuration>